p {
	font-weight: 500;
}
.ad-block {
	border-top: 4px solid #662c90;
	border-bottom: 4px solid #662c90;
}
.ad-group {
	margin: 40px auto;
}

.ad-group .icon {
	border: 1px solid #ccc;
	background: #662c90;
	color: #fff;
	width: 30%;
	height: 100%;
	text-align: center;
	padding: 25px 10px;
	margin: 0;
}
.ad-group i {
	font-size: 40px;
}

.ad-group h5 {
	color: #662c90;
}
.ad-group p {
	color: #2c3e50;
}

.final-block {
	margin: 60px 0;
	background: #f7f7f7;
	color: #2c3e50;
}
.footer-block {
	padding: 50px 0;
}
.footer-block .media-body {
	width: 70%;
}
.final-block h1 {
	font-size: 20px;
}
.final-block .divider {
	width: 50px;
	border-top: 4px solid #662c90;
	margin-top: 15px;
	margin-bottom: 50px;

}
.final-block a {
	text-decoration: none;
	color: #2c3e50;
}
.final-block i {
	margin-right: 10px;
}
.copyright {
	background:#2c3e50;
	text-align: center;
	padding: 15px;
}
.copyright p {
	color: #fff;
	margin: 0;
}
