img {
	width: 100%;
	max-width: 100%;
	opacity: 0.8;
	cursor: pointer;
}
img:hover {
	opacity: 1;
}
.container {
	width: 900px;
}
.image {
	width: 80%;
	margin: 10px auto;
}

#expandedImg {
	width: 100%;
}
.block {
	position: relative;
	display: none;
}

#imgtext {
	position: absolute;
	color: #fff;
	bottom: 15px;
	left: 15px;
	font-size: 24px;
}
.block img {
	opacity: 1;
}
.btn-close {
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
}