
img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.image {
	border: 1px solid #ccc;
	padding: 40px 0;
	position: relative;
	cursor: pointer;
}
.title h1 {
	font-size: 18px;
	margin: 0;
}
.title {
	width: 110px;
	border-bottom: 5px solid #fa8a00;

}
.product-group {
	border-top: 1px solid #ccc;
	padding: 20px 0;
}

.content {
	text-align: center;
}
.content .product-name {
	color: #333;
	font-weight: bold;
	text-decoration: none;
}
.content .hotline {
	color: #fa8a00;
	font-weight: bold;
	text-decoration: none;
}

.contact {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border: 1px solid #fa8a00;
	background: rgba(250, 250, 250, 0.8);
}

.contact a {
	background: #fa8a00;
	color: #fff;
	font-weight: bold;
	border: none;
	width: 80%;
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 5px;
}
.order {
	margin-top: calc(50% - 50px);
	margin-bottom: 20px;
}
.detail {
	margin-top: 0;
	margin-bottom: 0;
}
.image:hover .contact {
	display: block;
}