/*header*/
img {
	width: 100%;
	max-width: 100%;
}
main .container, footer .container {
	margin-top: 60px;
}
.block-1 {
	background: #2d3e50;
    color: #fff;
}
a {
	text-decoration: none;
	color: #fff;
}
.block {
	padding-top: 10px;
	padding-left: 0;
	padding-right: 0;
}


.block-2 img {
	max-height: 90px;
	width: auto;
}

.block-2 .search-group {
	margin-top: 26px;
}

.block-2 .shopping-cart-group {
	margin-top: 20px;
}

.block-2 span {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
	background-color: #E83D2B;
	text-align: center;
}

.block-2 span i {
	color: #fff;
	line-height: 50px;
}

.shopping-cart-number {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0 px;
}

.shopping-cart-price {
	color:#E83D2B ;
	font-weight: bold;
	margin-top: 0px ;
}

@media (max-width: 767.98px){
	.block-2{
		height: auto;
	}
	.block-2 .shopping-cart-group {
		max-width: 180px;
		margin-left: auto;
		margin-right: auto;
	}
	.desktop {
		display: none;
	}
	main .container {
		padding: 0;
	}
}

.block-3 {
	background: #662D91;
}

.block-3 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.desktop > li{
	display: inline-block;
	position: relative;
}

ul.desktop > li > a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	padding: 10px 10px;
	position: relative;
}
ul.desktop > li:hover > a{
	background: #793AA9;

}
ul.desktop > li:hover .sub-menu {
	display: block;
}
.desktop .sub-menu {
	display: none;
	position: absolute;
	padding: 10px !important;
	top: 44px;
	left: 0px;
	width: 200px;
	box-shadow: 1px 1px 5px #ccc;
}

.desktop .sub-menu a{
	color: #662D91;
	padding: 10px;
	display: block;
	font-weight: bold;
	text-decoration: none;
}

.desktop .sub-menu li:hover a {
	color: #fff;
	background: #662D91;
}

.mobile-menu {
	display: block;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}

.mobile-menu-icon{
	display: inline-block;
	border: 1px solid #fff;
	width: 30px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 10px;
}
.mobile-menu-group {
	display: none;
}
/*main*/
main h1 {
	font-size: 20px;
	margin: 0;
	color: #2c3e50;
	font-weight: bold;
}

main h2 {
	font-size: 16px;
	color: #2c3e50;
	font-weight: bold;
}

.title {
	width: 100%;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	border-left: 4px solid #662c90;
	padding: 5px;
	background: #f7f7f7;
}

.product {
	background:#f7f7f7;
	padding: 0;
	margin: 20px 0;
}

.code {
	color: #662c90;
	font-weight: bold;
}
.o-price {
	font-weight: bold;
	color: #ccc;
	text-decoration: line-through;
	margin: 0;
}
.n-price {
	font-weight: bold;
	color: #e83d30;
	font-size: 18px;
	margin: 0;
}
.product-content {
	padding: 10px;
}
.product{
	position: relative;
}
.discount-tag {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	color: #fff;
	background: #e83d30;
	text-align: center;
}
.discount-tag p {
	line-height: 40px;
	margin: 0;
}

.aside-group .image {
	padding: 0;
}
.aside-group .product {
	position: relative;
}
.discount-tag-aside {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 40px;
	color: #fff;
	background: #e83d30;
	text-align: center;
}

.discount-tag-aside p {
	line-height: 40px;
	margin: 0;
}

.aside-block {
	 border-bottom: 1px dashed #ccc;
}

.aside-group h2 {
	margin-top: 5px;
	margin-bottom: 30px;
}

/*footer*/
footer p {
	font-weight: 500;
}
.ad-block {
	border-top: 4px solid #662c90;
	border-bottom: 4px solid #662c90;
}
.ad-group {
	margin: 40px auto;
}

.ad-group .icon {
	border: 1px solid #ccc;
	background: #662c90;
	color: #fff;
	width: 30%;
	height: 100%;
	text-align: center;
	padding: 25px 10px;
	margin: 0;
}
.ad-group i {
	font-size: 40px;
}

.ad-group h5 {
	color: #662c90;
}
.ad-group p {
	color: #2c3e50;
}

.final-block {
	margin: 60px 0;
	background: #f7f7f7;
	color: #2c3e50;
}
.footer-block {
	padding: 50px 0;
}
.footer-block .media-body {
	width: 70%;
}
.final-block h1 {
	font-size: 20px;
}
.final-block .divider {
	width: 50px;
	border-top: 4px solid #662c90;
	margin-top: 15px;
	margin-bottom: 50px;

}
.final-block a {
	text-decoration: none;
	color: #2c3e50;
}
.final-block i {
	margin-right: 10px;
}
.copyright {
	background:#2c3e50;
	text-align: center;
	padding: 15px;
}
.copyright p {
	color: #fff;
	margin: 0;
}
